[Desktop Entry]
Name=Keys of Orthanc (X11)
Type=Application
Comment=A roguelike dungeon exploration game based on the books of J.R.R.Tolkien
Exec=keysoforthanc -mx11
TryExec=keysoforthanc
Icon=keysoforthanc
Categories=Game;RolePlaying;
Name[en_US]=keysoforthanc-x11.desktop
