[Desktop Entry]
Name=Keys of Orthanc (SDL)
Type=Application
Comment=A roguelike dungeon exploration game based on the books of J.R.R.Tolkien
Exec=keysoforthanc -msdl
TryExec=keysoforthanc
Icon=keysoforthanc
Categories=Game;RolePlaying;
